# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/
# Environment files
.env
.env.local



# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# Environment variables 
.env.local
.env.production
*.key
*.pem
.env.docker




# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker volumes 
postgres_data/
static_volume/
